{
  "printWidth": 120,
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "singleQuote": true,
  "bracketSpacing": false,
  "useTabs": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}